<ion-header>
  <ion-toolbar>
    <ion-title>
      Avatar y Button
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ion-avatar -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/img/avatar.jpg" alt="Avatar">
    </ion-avatar>

    <ion-label>
      <h2>Daniela</h2>
      <p>De La cruz</p>
    </ion-label>
  </ion-item>

  <br>

  <!-- ion-button -->
 <ion-button
  expand="block"
  color="primary"
  href="https://www.facebook.com/"
  target="_blank"
  rel="noopener noreferrer"
>
  Facebook
</ion-button>


<ion-button
  expand="block"
  fill="outline"
  color="dark"
  href="https://www.youtube.com/"
  target="_blank"
  rel="noopener noreferrer"
>
  Youtube
</ion-button>

</ion-content>
